/* For WebKit browsers (Chrome, Safari) */
/*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff881e; 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff881e; 
  }*/
  
  /* For Firefox */
  /*html {
    scrollbar-width: thin;
    scrollbar-color: #ff881e #f1f1f1;
  }*/